#container {
  position: relative; 
  width: 900px; 
  height: 860px; 
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#body-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
